.club-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0.3em;
}

.club-container:nth-child(odd) {
  background-color: #677eb0;
}

.club-container img {
  width: 30px;
  height: 30px;
}

.name-logo {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.points-arrow {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.points-arrow svg {
  width: 20px;
  height: 20px;
}