* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3e61a3;
  color: #fff;
  font-family: 'Gill Sans', sans-serif;
}

.nav-container {
  padding: 0.2em 0.6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icons {
  display: flex;
  gap: 0.3em;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 768px) {
  body {
    padding: 0 20em;
  }
}
